$primaryColor : #3961C2;
$secondaryColor : #92B5FA;
$textColor : #0B0754;
$successColor : #32e0c4;
$dangerColor : #ED6966;
$whiteColor : #FFFFFF;
$greyColor : #E4DFFE;
body{
    background-color: $whiteColor;
    font-family: 'Montserrat', sans-serif;
}

.custom-nav{
    margin-top: 2em;
    .navbar-brand{
        img{
            height: 50px;
        }
    }
    #navbarNav{
        .navbar-nav{
            .nav-item{
                .nav-link{
                    color: $primaryColor;
                    font-weight: 500;
                    margin-left: 2.2em;
                    &:hover{
                        color: lighten($primaryColor, $amount: 20%);
                    }
                }
                .btn-login{
                    color: $secondaryColor;
                    background-color: transparent;
                    border-radius: 2em;
                    border: 1px solid $secondaryColor;
                    padding: 0.5em 1.7em;
                    transition: 0.5s ease;

                    &:hover{
                        background-color: $secondaryColor;
                        border: 1px solid transparent;
                        color: $whiteColor;
                    }
                }
                .btn-sign-up{
                    color: $whiteColor;
                    background-color: $secondaryColor;
                    border-radius: 2em;
                    border: 1px solid transparent;
                    padding: 0.5em 1.7em;
                    transition: 0.5s ease;

                    &:hover{
                        background-color: transparent;
                        border: 1px solid $secondaryColor;
                        color: $secondaryColor;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 992px){
        margin-top: 0;
        .navbar-brand{
            img{
                height: 30px;
            }
        }
        #navbarNav{
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        margin-left: 0;
                    }
                    .btn-login, .btn-sign-up{
                        margin-top: 0.5em;
                    }
                }
            }
        }
    }
}

.custom-section-1{
    margin-top: 8em;
    .custom-column{
        h2{
            color: $primaryColor;
            font-weight: 600;
            font-size: 3.5rem;
        }
        h3{
            color: $secondaryColor;
            font-weight: 400;
            font-size: 2.5em;
            line-height: 1;
        }
        p{
            color: $textColor;
            font-size: 1.1em;
            margin-top: 2em;
        }
        .btn-section{
            margin-top: 2.5em;
            color: $whiteColor;
            background-color: $dangerColor;
            border-radius: 2em;
            border: 1px solid transparent;
            padding: 0.5em 1.7em;
            transition: 0.5s ease;
    
            &:hover{
                background-color: transparent;
                border: 1px solid $dangerColor;
                color: $dangerColor;
            }
        }
        .img-illustration{
            max-width: 100%;
            height: auto;
        }   
    }
    @media screen and (max-width: 992px){
        margin-top: 2em;
        .custom-column{
            h2{
                font-size: 2.5em;
            }
            h3{
                font-size: 1.5em;
            }
            p{
                font-size: 1em;
            }
            .img-illustration{
                // display: none;
                margin-top: 4em;
                margin-bottom: 4em;
            }
            .btn-section{
                margin-top: 1.5em;
            }
        }
    }
}

.custom-section-2{
    padding: 8em 0;
    .title-label{
        color: $primaryColor;
        font-size: 0.8em;
        font-weight: 500;
        background-color: $greyColor;
        border-radius: 0.5em;
        border: 1px solid transparent;
        padding: 0.5em 1.7em;
        transition: 0.5s ease;
    }
    .title{
        margin-top: 0.1em;
        color: $primaryColor; 
        font-size: 2.4em;
        font-weight: 700;
        line-height: 1;
    }
    .sub-title{
        margin-top: 0.9em;
        color: $textColor;
    }
    .card-custom{
        margin-top: 2em;
        border: 2px solid $greyColor;
        border-radius: 0.7em;
        transition: box-shadow .3s;
        .card-body{
            .card-icon{
                background-color: lighten($dangerColor, $amount: 30%);
                border-radius: 0.3em;
                width: 2.5em;
                text-align: center;
                i{
                    font-size: 1em;
                    padding: 0.6em;
                    color: $dangerColor;
                }
            }
            .card-title{
                margin-top: 1em;
                color: $primaryColor; 
                font-size: 1.6em;
                font-weight: 700;
                line-height: 1;
            }
            .card-text{
                margin-top: 1em;
                color: $textColor;
            }
            .card-button{
                color: $primaryColor;
                font-size: 1em;
                font-weight: 600;
                // background-color: transparent;
                border: 1px solid transparent;
                border-radius: 0.5em;
                padding: 0.5em 1em;
                background: linear-gradient(to right, $secondaryColor, $secondaryColor 50%, $primaryColor 50%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-size: 200% 100%;
                background-position: 100%;
                transition: background-position 1s ease;
                text-decoration: none; // text decorations are clipped in WebKit browsers
                &:hover {
                    background-position: 0 100%;
                }
            }
        }
        &:hover{
            box-shadow: 0 3em 2.5em $greyColor;
        }
        @media screen and (max-width: 576px) {
            box-shadow: 0 0 1em $greyColor;
        }
    }
    @media screen and (max-width: 576px) {
        padding: 3em 0;
        .side-content{
            display: none;
        }   
    }
}

.btn-primary{
    color: $secondaryColor;
    font-size: 1em;
    font-weight: 500;
    background-color: transparent;
    border-radius: 0.5em;
    border: 2px solid $secondaryColor;
    padding: 0.5em 1.7em;
    transition: 0.5s ease;
    &:hover{
        color: lighten($secondaryColor, $amount: 30%);
        background-color: $secondaryColor;
        border-color: transparent;
    }
}

.btn-danger{
    color: $whiteColor;
    font-size: 1em;
    font-weight: 500;
    background-color: $dangerColor;
    border-radius: 0.5em;
    border: 1px solid transparent;
    padding: 0.5em 1.7em;
    transition: 0.5s ease;
    &:hover{
        color: $dangerColor;
        background-color: transparent;
        border-color: $dangerColor;
    }
}

footer{
    clear: both;
	text-align: center;
	position: absolute;
	bottom: 0;
	padding: 0em 3em;
	width: 100%;
    p{
        color: $primaryColor;
        font-weight: 400;
        font-size: 1em;
    }
    a{
        color: $primaryColor;
        font-weight: 500;
        font-style: bold;
        transition: 2s ease-in;

        &:hover{
            color: darken($secondaryColor, $amount: 40%);
            text-decoration: none;
        }
    }
    @media screen and (max-width: 992px){
        margin-top: 1em;
        position: relative;
    }
}